<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Library</title>
</head>

<body>
    <header>
        <a href="/authors.html">
            <button>Authors</button>
        </a>
        <a href="/books.html">
            <button>Books</button>
        </a>
        <a href="/books.html">
            <button>My Books</button>
        </a>
        <a href="/login.html">
            <button>Login</button>
        </a>
        <a href="/register.html">
            <button>Register</button>
        </a>
    </header>


    <main>
        <form id="registerForm">
            <div>
                <label>First Name:</label>
                <input type="text" id="firstname" name="firstname">
            </div>
            <div>
                <label>Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="password" name="password">
            </div>

            <input type="submit" value="Register">
        </form>
    </main>

</body>

</html>